#author-description-local {
	background: #E0E0E0;
	display: inline-block;
	border-radius: 48px;
}

#author-description-image {
	float: left;
	width: 150px;
	height: auto;
	border-radius: 100%;
	display: inline-block;
	margin: 1ch;
}

#author-description-text {
	padding-left: 1ch;
	margin-top: 1em;
	width: calc(100% - 2ch);
	border-radius: 8px;
}

@media screen and (max-width: 500px) {
	#author-description-image {
		float: none;
		margin-left: calc(50% - 75px);
		margin-bottom: 0;
	}
}
