.color-interpolation-square {
	float: left;
	height: 100%;
	border: 1px solid #444444;
}

.color-interpolation-textbox {
	opacity: 0;
	font-weight: bold;
	font-size: 8pt;
	font-family: "Lucidia Console","Monaco Regular",monospace,"Courier New";
}

#color-squares {
	background: #FF00FF;
	height: 100px;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.color-interpolation-data {
	margin: 0 auto;
	margin-top: calc((100px - 3ch) / 2);
	width: 3ch;
	height: 3ch;
	background: #FFFFFF;
	border-radius: 1000px;
	text-align: center;
}

.color-interpolation-data:hover {
	width: 80%;
	max-width: 7ch;
	min-width: 5.5ch;
	height: 4ch;
	padding-top: 1ch;
	margin-top: calc((100px - 4ch) / 2);
	border-radius: 8px;
}

.color-interpolation-data:hover .color-interpolation-textbox {
	opacity: 1;
}
