.color-interpolation-square {
	float: left;
	height: 100%;
	border: 1px solid #444444;
}

#color-squares .color-interpolation-square:last-of-type {
	border-radius: 0 0 8px 0;
}

#color-squares .color-interpolation-square:first-of-type {
	border-radius: 0 0 0 8px;
}

.color-interpolation-input-box {
	float: left;
	width: calc(100% / 3);
	margin-top: 1em;
	padding-top: 1.5em;
	height: 5.5em;
	border: 1px solid black;
	background: #E0E0E0;
}

.color-interpolation-input {
	text-align: center;
	padding-top: 2.5em;
	margin-top: -2em;
}

.color-interpolation-textbox {
	opacity: 0;
	font-weight: bold;
	font-size: 8pt;
	font-family: "Lucidia Console","Monaco Regular",monospace,"Courier New";
}

#color-squares {
	background: #FF00FF;
	height: 100px;
	width: 100%;
	margin-top: 7.5em;
	margin-bottom: 1em;
	border-radius: 0 0 9px 9px;
}

.color-interpolation-data {
	margin: 0 auto;
	margin-top: calc((100px - 2ch) / 2);
	width: 2ch;
	height: 2ch;
	background: #FFFFFF;
	border-radius: 1000px;
	text-align: center;
}

.color-interpolation-data:hover {
	width: 80%;
	max-width: 7ch;
	min-width: 5.5ch;
	height: 2ch;
	margin-top: calc((100px - 2ch) / 2);
	border-radius: 8px;
}

.color-interpolation-data:hover .color-interpolation-textbox {
	opacity: 1;
}
