.color-interpolation-square {
	float: left;
	height: 100%;
	border: 1px solid #444444;
}

#color-squares-interpolation .color-interpolation-square:last-of-type {
	border-radius: 0 0 8px 0;
}

#color-squares-interpolation .color-interpolation-square:first-of-type {
	border-radius: 0 0 0 8px;
}

#color-squares-extrapolation .color-interpolation-square:last-of-type {
	border-radius: 0 0 8px 0;
}

#color-squares-extrapolation .color-interpolation-square:first-of-type {
	border-radius: 0 0 0 8px;
}

.color-interpolation-input-box {
	float: left;
	width: calc(100% / 3);
	margin-top: 1em;
	padding-top: 1.5em;
	height: 5.5em;
	border: 1px solid black;
	background: #E0E0E0;
}

@-moz-document url-prefix() {
	.color-interpolation-input input[type=number] {
		width: 64px;
	}
}

.color-interpolation-input {
	text-align: center;
	padding-top: 2.5em;
	margin-top: -2em;
}

.color-interpolation-number-input {
}

@-moz-document url-prefix() {
	.color-interpolation-number-input {
		padding-top: calc(2.5em - 5px);
	}
}

.color-interpolation-textbox {
	opacity: 0;
	font-weight: bold;
	font-size: 8pt;
	font-family: "Lucidia Console","Monaco Regular",monospace,"Courier New";
}

#color-squares-interpolation, #color-squares-extrapolation {
	background: #FF00FF;
	height: 100px;
	width: 100%;
	margin-top: 7.5em;
	margin-bottom: 1em;
	border-radius: 0 0 9px 9px;
}

.color-interpolation-data {
	margin: 0 auto;
	margin-top: calc((100px - 2ch) / 2);
	width: 2ch;
	height: 2ch;
	background: #FFFFFF;
	border-radius: 1000px;
	text-align: center;
}

.color-interpolation-data:hover {
	width: 80%;
	max-width: 7ch;
	min-width: 5.5ch;
	height: 2ch;
	padding-top: 0.1em;
	margin-top: calc((100px - 2ch) / 2);
	border-radius: 8px;
}

.color-interpolation-data:hover .color-interpolation-textbox {
	opacity: 1;
}

#text-background-contrast {
	height: 3em;
	border-radius: 8px;
	border: solid grey 2px;
	margin-bottom: 1em;
	overflow: hidden;
}

#text-background-contrast .color-interpolation-square {
	padding-top: 0.5em;
}

#text-background-contrast .color-interpolation-square:first-of-type {
	border-radius: 6px 0 0 6px;
}

#text-background-contrast .color-interpolation-square:last-of-type {
	border-radius: 0 6px 6px 0;
}
