code {
	font-family: "Lucidia Console",monospace,"Courier New";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: antialiased;
	color: #DC143C;
}

html {
	scroll-behavior: smooth;
}

#footer {
	background: #000000;
}

#footer a {
	color: #DC143C;
}

#footer-links a {
	font-size: 2em;
	margin-left: 1ch;
	margin-right: 1ch;
	margin-bottom: 1em;
}

#copyright {
	color: #FFFFFF;
	font-size: 1.5em;
}

@media screen and (max-width: 710px) {
	#footer-links a {
		display: table;
		margin: auto;
	}
}

