.spoiler {
	border: 3px solid #B0B0B0;
	padding: 1em;
	border-radius: 8px;
	margin-bottom: 1em;
	background: #E6E6FA;
}

span .spoiler {
	border: 0;
	padding: 0 0.5ch;
	background: #AB68C0;
	margin-bottom: 0;
}

.spoiler .content {
	opacity: 0;
}

.spoiler .content:hover {
	opacity: 1;
}

.spoiler b {
	color: #DC143C;
}
