code {
    color: black;
    background-color: #EEEEEE;
    padding: 1px 2px;
}

.aside {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #EEEEEE;
    /* border: 6px solid black; */
}

.aside-major {
    border: 6px solid black;
}

.aside-warning {
    background-color: #EEEEEE;
}

.aside p {
    margin: 0;
}

#tuacm-logo {
    display: block;
    max-width: 300px;
}

#header h2 {
    margin: 0;
    padding: 0;
}